.beneficiary-card {
  width: 20%;
  background: #fff;
  border-radius: 16px 16px 8px 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: fit-content;
}

@media (max-width: 1300px) {
  .beneficiary-card {
    width: 30%;
  }
}
@media (max-width: 1024px) {
  .beneficiary-card {
    width: 100%;
  }

  .body_card_dashboard .button-group:nth-last-of-type(1) {
    margin-bottom: 2rem;
  }
}

.body_card_dashboard {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.beneficiary-card p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}
.header_card {
  border-radius: 12px 12px 0 0;
  padding: 2rem;
  color: white;
  justify-content: center;
  display: flex;
  gap: 0.5rem;
  background-color: #1e5d96;
}
.header_card img {
  width: 25px;
  height: 25px;
}

.input-group {
  display: flex;
  margin-bottom: 1.2rem;
  flex-direction: column;
}

.input-group label {
  font-size: 0.6rem;
  color: rgb(74, 74, 74);
}

.button-group {
  display: flex;
  justify-content: end;
}
.beneficiary-card .btn {
  margin-top: 1rem;
}

.body_card_dashboard > .btn:last-child {
  margin-top: auto;
  width: 100%;
  font-weight: bold;
}
/* Estilo do interruptor (toggle) */
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 14px;
  margin-right: 0.5rem;
}
.switch-line {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Fundo do switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 24px;
}

/* Bolinha do switch */
.slider::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  left: 3px;
  border-radius: 50%;
}

/* Toggle ativado */
input:checked + .slider {
  background-color: #007bff; /* azul padrão */
}

input:checked + .slider::before {
  transform: translateX(13px);
}

/* Bordas mais suaves */
.slider.round {
  border-radius: 24px;
}
.add-contact input {
  padding: 0.5rem;
  border: 1px solid rgb(197, 197, 197);
  width: 100%;
  border-radius: 6px;
}
.add-contact .button-add-contact {
  width: 100%;
}
