.guides {
  flex: 1;
  border-radius: 16px 16px 12px 12px;
  display: flex;
  flex-direction: column;
}

.guides-list {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.guides-list::-webkit-scrollbar {
  width: 8px;
}
.guides-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.guide {
  border-radius: 12px;
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.guide span:not(.status) {
  font-size: 0.8rem;
}

.guide-actions {
  display: flex;
  align-items: center;
  /* border-top: 1px solid rgb(238, 238, 238); */
  justify-content: space-between;
}

.guide h4 {
  margin-top: 1rem;
  color: #1e5d96;
  font-weight: bold;
}
.guide-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  color: #28a745;
  font-weight: bold;
}

.header-guide {
  background-color: #1e5d96;
  text-align: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1.9rem 2rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
  border-radius: 12px 12px 0 0;
}

@media (max-width: 1024px) {
  .header-guide {
    flex-direction: column;
  }
  .guides {
    height: 75vh;
  }
  .guide .guide-actions span {
    font-size: 0.6rem;
  }

  .guides-header-text {
    display: none;
  }
}
