.guides {
  flex: 1;
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.guide {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  cursor: pointer;
}
.guide span:not(.status) {
  font-size: 0.8rem;
}

.guide-actions {
  display: flex;
  justify-content: space-between;
}

.guide h4 {
  margin-top: 1rem;
  color: #1e5d96;
  font-weight: bold;
}
.guide-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  color: #28a745;
  font-weight: bold;
}
