.dashboard {
  min-height: 100vh;
  background: url("/images/background.jpg") no-repeat center center;
  display: flex;
  background-size: cover;
  padding: 2rem;
  flex-direction: column;
}

.dashboard-content {
  flex: 1;
  margin: 0 4rem;
  display: flex;
  gap: 2rem;
}

.guides {
  flex: 1;
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.guide {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.guide span:not(.tag) {
  font-size: 0.8rem;
}

.guide-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.guide h4 {
  margin-top: 1rem;
  color: #1e5d96;
  font-weight: bold;
}
.guide-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

