.forgot-page {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  padding: 2rem;
}

.forgot-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f6fa;
}

.forgot-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.forgot-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 35vw;
}

.forgot-card {
  background: #fff;
  color: #333;
  border-radius: 16px 16px 12px 12px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.forgot-card h2 {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  color: #0c4171;
  margin-top: 0;
}

.forgot-card p {
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #2f2f2f;
}

.forgot-input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
  width: 100%;
}

.forgot-card button {
  margin-top: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.portal-header {
  max-width: 35vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 2rem;
}

.portal-header h1 {
  font-size: clamp(1.4rem, 2vw + 0.5rem, 2.2rem);
  font-weight: 600;
  color: #0c4171;
}

label,
small {
  font-weight: 600;
  color: #0c4171;
}

@media (max-width: 1024px) {
  .forgot-page {
    min-width: 100vw;
    justify-content: flex-end;
    gap: 1rem;
    flex-direction: column-reverse;
  }

  .forgot-card {
    max-width: 100vw;
    padding: 1.5rem;
  }

  .forgot-right {
    display: none;
  }
}
