.login-page {
  display: flex;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  background: url("/images/login.png") no-repeat center center;
  background-size: cover;
}
.portal-header {
  width: 30vw;
  margin-bottom: 2rem;
}
.login-teste h1 {
  color: white;
}
.login-teste {
  width: 50vw;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.header {
  border-radius: 12px 12px 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #1e5d96;
  padding: 2rem 3rem;
}
.login-card {
  background: #fff;
  color: #333;
  border-radius: 12px;
  width: 100%;
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.body-card_login {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
}

.login-card h2 {
  margin: 0;
}

.login-card p {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 1rem;
}

.login-card input[type="text"],
.login-card input[type="password"] {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
  width: 100%;
}

.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin: 0.5rem 0 1rem 0;
}

.login-options a {
  color: #1e5d96;
  text-decoration: underline;
}

.login-options a:hover {
  text-decoration: underline;
}

.login-card .btn {
  margin: 0.5rem 0 2rem;
  width: 50%;
}

.signup {
  text-align: end;
  color: #1e5d96;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.signup a {
  color: #1e5d96;
}
