.login-page {
  display: flex;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50vw;
  padding: 2rem;
  min-height: 100vh;
}
.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f6fa;
}

.login-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  border-radius: 12px 12px 0 0;
  padding: 2rem 4rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #1e5d96;
}

.login-card {
  background: #fff;
  color: #333;
  border-radius: 16px 16px 12px 12px;
  width: 100%;
  max-width: 35vw;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.login-input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
  width: 100%;
}

.portal-header {
  max-width: 35vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 2rem;
}

.login-card h2 {
  font-size: 2.2rem;
  margin-top: 0;
  font-weight: 600;
  color: #0c4171;
}

.login-card span {
  font-size: 0.8rem;
  color: #0c4171;
  display: block;
}
.login-card p {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 1rem;
}

.login-card input[type="text"],
.login-card input[type="password"] {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
  width: 100%;
}

.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin: 0.5rem 0 1rem 0;
}

.login-options a {
  color: #1e5d96;
  text-decoration: underline;
}

.login-options a:hover {
  text-decoration: underline;
}

.login-card .btn {
  margin: 0.5rem 0 2rem;
  width: 50%;
}
.login-card h2 {
  font-weight: 500;
}
.login-card h2 {
  font-weight: 500;
}
.login-card .label-input {
  font-weight: 600;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

.signup {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.signup a {
  color: #1e5d96;
}

@media (max-width: 1024px) {
  .login-page {
    background: url("/images/login-background.jpg") no-repeat center top;
    min-width: 100vw;
    background-size: 100vw;
    justify-content: end;
    gap: 1rem;
    flex-direction: column-reverse;
  }
  .login-card span {
    font-size: 0.7rem;
  }
  .header {
    padding: 1rem 2rem;
  }
  .login-card {
    max-width: 100vw;
    padding: 1rem 2rem;
  }
  .login-teste {
    width: 100vw;
    flex-direction: column-reverse;
    justify-content: end;
    padding: 2rem;
  }
  .body-card_login {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
  }
  .portal-header {
    max-width: 100vw;
    display: flex;
  }

  .login-card .btn {
    width: 100%;
    margin: 0.5rem 0;
  }

  .signup {
    text-align: center;
  }

  .login-right {
    display: none;
  }
}
.portal-header h1 {
  font-size: clamp(1.4rem, 2vw + 0.5rem, 2.2rem);
  font-weight: 600;
  color: #0c4171;
}

.login-card h2 {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  font-weight: 500;
}

.login-card p,
.login-card label,
.login-card .signup,
.login-options,
.login-card input {
  font-size: clamp(0.8rem, 1vw, 0.9rem);
}
