.mobile-header {
  display: none;
  color: #fff;
  padding: 2rem 0 2rem 1.5rem;
  border-radius: 8px;
  overflow: hidden;
}

.mobile-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.mobile-user-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.85rem;
}
.menu-stack {
  margin-left: auto; /* empurra para a direita */
  display: flex; /* empilha verticalmente */
  flex-direction: column; /* botão em cima, "Sair" embaixo */
  align-items: flex-end; /* alinhados à direita */
  gap: 0.25rem;
}
.mobile-header-top h4 {
  margin-bottom: 1rem;
}

.menu-button {
  background: #9cc4ec;
  border: none;
  margin-left: auto;
  padding: 0.3rem 1.2rem;
  border-radius: 50px 0 0 50px;
  color: #0c4171;
  font-size: 1.5rem;
  cursor: pointer;
}

/* ===== USUÁRIO ===== */
.mobile-user-data {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  transition: opacity 0.3s ease;
}

.avatar {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.mobile-user-text {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

/* ===== MENU ===== */
.mobile-menu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.mobile-menu.open {
  max-height: 200px; /* altura suficiente */
  opacity: 1;
  margin-top: 1rem;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

.mobile-menu li {
  flex: 1; /* 🔥 cada item ocupa o mesmo espaço */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-menu li:last-child {
  border-right: none; /* remove a borda do último */
}

.mobile-menu li button {
  background: none;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .mobile-header {
    display: block;
  }
}

/* container dos botões do topo */
.mobile-header-top .actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* botão sair */
.logout-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
}

.logout-container {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
}

.logout-button {
  border: none;
  color: #fff;
  font-size: 0.95rem;
  font-weight: bold;
  cursor: pointer;
  padding-right: 0.8rem;
  transition: background 0.2s ease;
}

.logout-button:hover {
  background: #f1f1f1;
}
