.dashboard-header {
  color: #0c4171;
  margin-bottom: 2rem;
  border-radius: 12px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header a {
  color: #0c4171;
  font-size: 0.8rem;
  text-align: center;
}
.user-greeting {
  font-weight: 600;
  font-size: 0.9rem;
}
@media (max-width: 1024px) {
  .dashboard-header {
    display: none;
  }
}
