.beneficiary-card {
  width: 300px;
  background: #fff;
  border-radius: 16px 16px 8px 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.body_card_dashboard {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.beneficiary-card p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}
.header_card {
  border-radius: 12px 12px 0 0;
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #1e5d96;
}
.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 0.7rem;
  color: rgb(74, 74, 74);
  margin-bottom: 0.45rem;
}

.button-group {
  display: flex;
  justify-content: end;
}
.beneficiary-card .btn {
  margin-top: 1rem;
}

.body_card_dashboard > .btn:last-child {
  margin-top: auto;
  width: 100%;
  font-weight: bold;
}
