.beneficiary-card {
  width: 300px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.body_card_dashboard {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.beneficiary-card p {
  margin: 0;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 0.7rem;
  margin-bottom: 0.45rem;
}

.button-group {
  display: flex;
  justify-content: end;
}
.button-group button {
  display: flex;
  justify-content: end;
  background: #f5f5f5;
  color: #1e5d96;
}

.beneficiary-card button {
  margin-top: 1rem;
  font-weight: 600;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
}

.body_card_dashboard > button:last-child {
  margin-top: auto;
  width: 100%;
  font-weight: bold;
}
