.details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.details-panel {
  width: 35vw;
  background: #fff;
  border-radius: 12px 0 0 12px;
  height: 100%;
  padding: 1.5rem;
  overflow-y: auto;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.4s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.details-panel.closing {
  animation: slideOut 0.4s ease forwards;
}
@media (max-width: 768px) {
  .guide-info {
    display: flex;
    flex-direction: column;
    align-items: start !important;
    gap: 8px;
  }
  .details-overlay {
    justify-content: center;
    align-items: flex-end;
  }

  .details-panel {
    width: 100%;
    height: 90vh;
    border-radius: 12px 12px 0 0;
    animation: slideUp 0.4s ease forwards;
  }

  .details-panel.closing {
    animation: slideDown 0.4s ease forwards;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
.close {
  background: none;
  border: none;
  color: #0a4a8a;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 0.5rem;
  font-weight: 600;
  display: inline-block;
}

.header-top {
  margin-bottom: 0.5rem; /* espaço antes da Tag */
}

.guide-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline {
  border-top: 1px solid rgb(208, 208, 208);
  margin-top: 1rem;
  padding-top: 1.5rem;
}

/* cada item controla sua própria linha */
.timeline-item {
  position: relative;
  display: flex;
  gap: 0.5rem;
  text-align: justify;
  padding: 0.5rem 0 1rem 0;
}

.timeline-item .dot {
  position: relative;
  z-index: 1;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: 4px;
  margin-right: 1rem;
}

/* linha abaixo do dot até o fim do item */
.timeline-item::after {
  content: "";
  position: absolute;
  top: 31px; /* começa abaixo do dot */
  left: 5px; /* centralizado com o dot */
  width: 2px;
  height: calc(100% - 31px);
  background: rgb(212, 212, 212);
}

.timeline-item strong {
  display: block;
}

.guide-number {
  font-weight: 600;
  color: #0a4a8a;
  margin: 0.5rem 0;
}

.info-span {
  font-size: 0.8rem;
}

.card-info {
  background-color: rgb(243, 243, 243);
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
}

.info-timeline {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
