.details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}
.details-view {
  padding: 1.5rem;
  background: #fff;
  border-radius: 12px;
}

.details-panel {
  width: 35vw;
  background: #fff;
  border-radius: 12px 0 0 12px;
  height: 100%;
  padding: 1.5rem;
  overflow-y: auto;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.4s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.details-panel.closing {
  animation: slideOut 0.4s ease forwards;
}
.close {
  background: none;
  border: none;
  color: #0a4a8a;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 0.5rem;
  font-weight: 600;
  display: inline-block;
}
.actions-container {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  max-width: 25rem;
  gap: 0.6rem;
}
.actions-container span {
  margin-bottom: 1rem;
  font-weight: 600;
}
.actions-container button {
  background-color: #e7eefa;
  font-size: 0.7rem;
  color: #125495;
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
}
.actions-container button:hover {
  background-color: #cad7ee;
  transition: 0.6s;
}
.actions-container a {
  text-align: center;
}
.header-top {
  margin-bottom: 0.5rem; /* espaço antes da Tag */
}

.guide-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline {
  border-top: 1px solid rgb(208, 208, 208);
  margin-top: 1rem;
  padding-top: 1.5rem;
}

/* cada item controla sua própria linha */
.timeline-item {
  display: flex;
  gap: 0.75rem;
  text-align: justify;
  padding: 0.5rem 0 1rem 0;
}

.timeline-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.timeline-dot {
  display: block;
}

.timeline-connector {
  flex: 1 1 auto;
  width: 1px;
  background: rgb(228, 34, 34);
}

.timeline-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.timeline-item:last-child .timeline-connector {
  display: none;
}

.timeline-item strong {
  display: block;
}

.guide-number {
  font-weight: 600;
  color: #0a4a8a;
  margin: 0.5rem 0;
}

.info-span {
  font-size: 0.8rem;
}

.card-info {
  padding: 0.3rem 0 0.9rem;
  border-bottom: 1px solid rgb(227, 227, 227);
}

.info-timeline {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .actions-container span {
    margin-top: 2rem;
  }
  .guide-info {
    display: flex;
    flex-direction: column;
    align-items: start !important;
    gap: 8px;
  }
  .details-overlay {
    justify-content: center;
    align-items: flex-end;
  }

  .details-panel {
    width: 100%;
    height: 90vh;
    border-radius: 12px 12px 0 0;
    animation: slideUp 0.4s ease forwards;
  }

  .details-panel.closing {
    animation: slideDown 0.4s ease forwards;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
