.mobile-header {
  display: none;
  color: #fff;
  padding: 1rem 0 1rem 1.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.mobile-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  background: #1e5d96;
  border: none;
  padding: 0.3rem 1.5rem 0.3rem 1rem;
  border-radius: 50px 0 0 50px;
  color: #fff;
  font-size: 1.5rem;
}

.mobile-user-data {
  display: flex;
  margin-top: 1rem;
}

.avatar {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.mobile-user-text {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}

.mobile-menu {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.mobile-menu li {
  text-align: center;
}

.mobile-menu button {
  background: none;
  border: none;
  color: #fff;
  font-size: 0.9rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .mobile-header {
    display: block;
  }
}
