.mobile-header {
  display: none;
  color: #fff;
  padding: 2rem 0 2rem 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  overflow: hidden;
}
.mobile-header-top {
  display: flex;
  justify-content: flex-end; /* sempre joga o botão pra direita */
  align-items: center;
  position: relative;
}

.mobile-header-top .titulo {
  margin: 0;
  font-size: 1rem;
  flex: 1; /* ocupa o espaço da esquerda, empurrando o botão pra direita */
}

.menu-button {
  background: #1e5d96;
  border: none;
  padding: 0.3rem 1.2rem;
  border-radius: 50px 0 0 50px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-user-data {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  transition: opacity 0.3s ease;
}

.avatar {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.mobile-user-text {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

/* ====== MENU ====== */
.mobile-menu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.mobile-menu.open {
  max-height: 200px; /* espaço suficiente pros itens */
  opacity: 1;
  margin-top: 1rem;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.mobile-menu li button {
  background: none;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .mobile-header {
    display: block;
  }
}
