@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --font-family-base: "Inter", sans-serif;
}

body {
  margin: 0;
  background: #f3f5f7;
  color: #333;
}

a {
  cursor: pointer;
  color: #0a4a8a;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family-base);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}
