.default {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-size: cover;
  background-position: center;
}

.bck-img img {
  display: none;
}

.dashboard-content {
  flex: 1;
  display: flex;
  gap: 2rem;
}

.main-content {
  width: 73vw;
}

@media (max-width: 1024px) {
  .default {
    padding: 0rem;
    background-image: url("../../public/images/image2.png");
    background-repeat: no-repeat;
    background-size: 100% auto; /* ⬅️ mesma proporção da sua <img> */
    background-position: top;
  }
  .dashboard-content {
    flex-direction: column;
    gap: 0;
    margin: 0 1rem;
  }

  .main-content {
    width: 100%; /* ocupa toda a largura */
  }

  .layout-header,
  .layout-beneficiary {
    display: none;
  }
  .mobile-beneficiary {
    display: block;
  }

  .hidden-on-mobile {
    display: none;
  }
}

.mobile-beneficiary {
  display: none;
}

.hidden-on-mobile {
  display: block;
}
