.default {
  min-height: 100vh;
  background: url("/images/background.jpg") no-repeat center center;
  display: flex;
  background-size: cover;
  padding: 2rem;
  flex-direction: column;
}

.dashboard-content {
  flex: 1;
  display: flex;
  gap: 2rem;
}
