.default {
  min-height: 100vh;
  display: flex;
  background-size: cover;
  padding: 2rem;
  flex-direction: column;
}

.dashboard-content {
  flex: 1;
  display: flex;
  gap: 2rem;
}

.main-content {
  width: 78%;
}

/* 🔽 Responsividade: até 768px */
@media (max-width: 1000px) {
  .default {
    padding: 0rem;
  }
  .dashboard-content {
    flex-direction: column;
    gap: 0;
    margin: 0 1rem;
  }

  .main-content {
    width: 100%; /* ocupa toda a largura */
  }

  .layout-header,
  .layout-beneficiary {
    display: none;
  }
}

.mobile-beneficiary {
  display: none;
}

.hidden-on-mobile {
  display: block;
}

@media (max-width: 1000px) {
  .mobile-beneficiary {
    display: block;
  }

  .hidden-on-mobile {
    display: none;
  }
}
